.nuclear_central_container {
  text-align: center;
}

.nuclear_panel {
  margin-top: 40px;
}

.toggle.android {
  border-radius: 0px;
}

.toggle.android .toggle-handle {
  border-radius: 0px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 20px;
}

.toggle.ios .toggle-handle {
  border-radius: 20px;
}

.inline-headers h3, .inline-headers h5 {
  display: inline-block;
  vertical-align: baseline;
}

.my-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
  line-height: 1;
  float: left;
  display: block; /* This is required */
}

.my-icon.swiss_flag {
  background: url("../images/swiss_flag.png");
  background-size: cover;
}

.my-icon.eu_flag {
  background: url("../images/eu_flag.png");
  background-size: cover;
}

.my-icon.normal {
  width: 24px;
  height: 24px;
}

.my-icon.small {
  width: 16px;
  height: 16px;
}

.my-icon.medium {
  width: 64px;
  height: 64px;
}

.my-icon.large {
  width: 128px;
  height: 128px;
}

.height-align {
  height:24vh;
  display:table;
}
.v-m {
  display:table-cell;
  vertical-align:middle
}

.navbar-element {
  display: block;
  color: white;
  padding: 15px;
}

.label-as-badge {
  border-radius: 1em;
}


.form-group label {
  float: left;
  text-align: left;
  font-weight: normal;
}

.form-group select {
  display: inline-block;
  width: auto;
}

.form-group input {
  display: inline-block;
  width: auto;
}

.central_production {
  font-size: 12px;
}
