<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SwissNuclearExit</title>

  <!-- Bootstrap Core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/footer.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <link href="../bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <style>
    body {
      padding-top: 70px;
      /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body ng-app="swissNuclearExitApp" ng-controller="ControllerCtrl">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SwissNuclearExit</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <span class="navbar-element"><span class="label label-as-badge label-primary">{{nbrShutdownedCentral}}</span> shutdowned nuclear central(s)</span>
        </li>
        <li>
          <span class="navbar-element">Deficiency ratio : <span ng-style="deficiencyStyle">{{generalDeficiencyRatio.toFixed(0)}} GWh</span></span>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <!--<renewable-energ></renewable-energ>-->

  <h1>Nuclear electricity</h1>
  <div class="row nuclear_panel">
    <div class="col-md-2 col-md-offset-1 nuclear_central_container">
      <img src="images/nuclear_central.png" alt="{{centrals[0].name}}" width="96" height="120">
      <h3>{{centrals[0].name}}</h3>
      <h4>{{centrals[0].construction_date}}</h4>
      <h5>{{centrals[0].production_GWh}} GWh</h5>
      <p class="central_production">{{centrals[0].net_power_mwe}} MWe</p>
      <toggle ng-model="toggle[0]" ng-change="toggleChanged(0)" style="android"></toggle>
    </div>
    <div class="col-md-2 nuclear_central_container">
      <img src="images/nuclear_central.png" alt="{{centrals[1].name}}" width="96" height="120">
      <h3>{{centrals[1].name}}</h3>
      <h4>{{centrals[1].construction_date}}</h4>
      <h5>{{centrals[1].production_GWh}} GWh</h5>
      <p class="central_production">{{centrals[1].net_power_mwe}} MWe</p>
      <toggle ng-model="toggle[1]" ng-change="toggleChanged(1)" style="android"></toggle>
    </div>
    <div class="col-md-2 nuclear_central_container">
      <img src="images/nuclear_central.png" alt="{{centrals[2].name}}" width="96" height="120">
      <h3>{{centrals[2].name}}</h3>
      <h4>{{centrals[2].construction_date}}</h4>
      <h5>{{centrals[2].production_GWh}} GWh</h5>
      <p class="central_production">{{centrals[2].net_power_mwe}} MWe</p>
      <toggle ng-model="toggle[2]" ng-change="toggleChanged(2)" style="android"></toggle>
    </div>
    <div class="col-md-2 nuclear_central_container">
      <img src="images/nuclear_central.png" alt="{{centrals[3].name}}" width="96" height="120">
      <h3>{{centrals[3].name}}</h3>
      <h4>{{centrals[3].construction_date}}</h4>
      <h5>{{centrals[3].production_GWh}} GWh</h5>
      <p class="central_production">{{centrals[3].net_power_mwe}} MWe</p>
      <toggle ng-model="toggle[3]" ng-change="toggleChanged(3)" style="android"></toggle>
    </div>
    <div class="col-md-2 nuclear_central_container">
      <img src="images/nuclear_central.png" alt="{{centrals[4].name}}" width="96" height="120">
      <h3>{{centrals[4].name}}</h3>
      <h4>{{centrals[4].construction_date}}</h4>
      <h5>{{centrals[4].production_GWh}} GWh</h5>
      <p class="central_production">{{centrals[4].net_power_mwe}} MWe</p>
      <toggle ng-model="toggle[4]" ng-change="toggleChanged(4)" style="android"></toggle>
    </div>
  </div>

  <h1>New renewables energies</h1>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="my-icon swiss_flag normal"></span> Part of renewables</h3>
        <canvas id="swiss_renew" class="chart chart-pie" chart-data="renew_pie_data"
                chart-labels="renew_pie_labels" chart-options="renew_pie_options"
                height="200" chart-colors="default_colors">
        </canvas>
    </div>
    <div class="col-md-6">
      <h3><span class="my-icon eu_flag normal"></span> Part of renewables</h3>
      <canvas id="eu_renew" class="chart chart-bar"
              chart-data="renew_bar_data" chart-labels="renew_bar_labels"
              chart-series="renew_bar_series" chart-options="renew_bar_options"
              height="200" chart-colors="default_colors" chart-dataset-override="renew_bar_over">
      </canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="inline-headers">
        <h3>Wind strategy</h3>
        <h5>covers <strong>{{strategy[0].percentage.toFixed(1)}}%</strong> of the deficiency ({{strategy[0].cover.toFixed(2)}} GWh)</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img src="images/wind_turbine.png" alt="Wind turbine" height="175" width="146">
    </div>
    <div class="col-md-3 height-align">
      <div class="v-m">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
          <input id="wind_trubines_nbr" type="number" class="form-control" min="0" ng-model="wind_input" ng-change="inputChange()">
        </div>
        <h5 align="center">wind turbines of 3 MW</h5>
      </div>
    </div>
    <div class="col-md-7 height-align">
      <div class="v-m">
        <h4>Some stats</h4>
        <p><img src="images/household.png" alt="Household" height="30" width="36"> Would supply <strong>{{wind_households_supply.toFixed(1)}}</strong> Swiss households.</p>
        <p>The confederation's target for 2050 is 7% of consumption or 4000 GWh.</p>
        <p>The intermediate objective of confederation for 2020 is 600 GWh.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="inline-headers">
        <h3>Solar strategy</h3>
        <h5>covers <strong>{{strategy[1].percentage.toFixed(1)}}%</strong> of the deficiency ({{strategy[1].cover.toFixed(2)}} GWh)</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img src="images/solar.jpg" alt="Solar panel" height="175" width="166">
    </div>
    <div class="col-md-3 height-align">
      <div class="v-m">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
          <input id="solar_surface" type="number" class="form-control" min="0" step="25" ng-model="solar_input" ng-change="inputChange()">
          <span class="input-group-addon">m<sup>2</sup></span>
        </div>
        <p align="center"><img src="images/information.png" alt="Information" height="30" width="30"> Equivalent to <strong>{{equivalent_soccer_fields.toFixed(1)}}</strong> soccer fields.</p>
      </div>
    </div>
    <div class="col-md-7 height-align">
      <div class="v-m">
        <h4>Some stats</h4>
        <p><img src="images/household.png" alt="Household" height="30" width="36"> Would supply <strong>{{solar_households_supply.toFixed(1)}}</strong> Swiss households.</p>
        <p>10,000 CHF the 25 m<sup>2</sup>.</p>
        <p>Lifetime > 30 years.</p>
      </div>
    </div>
  </div>

  <h1>Households consumption</h1>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="my-icon swiss_flag normal"></span> Total households consumption</h3>
      <canvas id="swiss_total_cons" class="chart chart-line"
              chart-data="total_household_cons_data" chart-labels="total_household_cons_labels"
              height="200" chart-colors="default_colors"
              chart-options="total_household_cons_opt">
      </canvas>
    </div>
    <div class="col-md-6">
      <h3><span class="my-icon eu_flag normal"></span> Consumption per household</h3>
      <canvas id="eu_cons_per_household" class="chart chart-bar"
              chart-data="per_house_cons_data" chart-labels="per_house_cons_labels"
              chart-options="per_house_cons_opt" height="200"
              chart-colors="default_colors" >
      </canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="inline-headers">
        <h3>Strategy</h3>
        <h5>covers <strong>{{strategy[2].percentage.toFixed(1)}}%</strong> of the deficiency ({{strategy[2].cover.toFixed(2)}} GWh)</h5>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label><h4>Decrease household consumption by
      <input id="household_red" type="number" class="form-control" min="0" step="1" ng-model="reduction_value" ng-change="reductionInputChange()">
      %.</h4>
      <p><img src="images/information.png" alt="Information" height="30" width="30"> Equivalent to the replacement of <strong>{{equivalent_bulbs_replacement.toFixed(1)}}</strong> halogen bulbs
        <img src="images/b.png" alt="Information" height="20"> by led bulbs <img src="images/a++.png" alt="Information" height="20"> lit 4 hours a day over a year (800 lumens).</p>
    </label>
  </div><br><br><br><br>

  <h1>Imports / exports</h1>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="my-icon swiss_flag normal"></span> Imports / exports ratio by season</h3>
      <canvas id="swiss_imp_exp" class="chart chart-bar"
              chart-data="swiss_imp_exp_data" chart-labels="swiss_imp_exp_labels"
              chart-options="swiss_imp_exp_opt" height="200"
              chart-colors="default_colors" >
      </canvas>
    </div>
    <div class="col-md-6">
      <h3><span class="my-icon eu_flag normal"></span> Imports / exports ratio by year</h3>
      <canvas id="eu_imp_exp" class="chart chart-bar"
              chart-data="eu_imp_exp_data" chart-labels="eu_imp_exp_labels"
              chart-options="eu_imp_exp_opt" height="200"
              chart-colors="default_colors" >
      </canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="inline-headers">
        <h3>Strategy</h3>
        <h5>covers <strong>{{strategy[3].percentage.toFixed(1)}}%</strong> of the deficiency ({{strategy[3].cover.toFixed(2)}} GWh)</h5>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label><h4>Increase year's imports by
      <input id="imports" type="number" class="form-control" min="0" step="100" ng-model="imports_value" ng-change="importInputChange()">
      <!--<select ng-model="imports.value" ng-options="v for v in imports.options" ng-change="importSelectChange()" class="form-control">-->
      GWh.</h4>
      <p><img src="images/information.png" alt="Information" height="30" width="30"> Equivalent to <strong>{{equivalent_beznau_1.toFixed(1)}}</strong>x the production of Beznau I.</p>
    </label>
  </div><br><br><br><br>
  <h1>Summary of deficiency coverage</h1>
  <canvas id="base" class="chart chart-horizontalBar" chart-type="horizontalBar"
          chart-data="summary_data" chart-options="summary_options" height="50"
          chart-series="summary_series" chart-dataset-override="summary_over"
          chart-colors="summary_colors">
  </canvas>

</div>
<!-- /.container -->

<footer class="footer">
  <div class="container">
    <p class="text-muted">IV course project - Stats until 2014 from <a href="http://www.bfe.admin.ch/index.html?lang=fr">OFEN</a>,
      <a href="http://ec.europa.eu/eurostat/fr/home">Eurostat</a>,
      <a href="http://www.swissolar.ch/fr/">Swissolar</a> and
      <a href="http://www.suisse-eole.ch/fr/energie-eolienne/statistiques/">SuisseEole</a>.
    </p>
  </div>
</footer>

<!-- jQuery Version 1.11.1 -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
<script src="../bower_components/chart.js/dist/Chart.min.js"></script>
<script src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/controller.js"></script>

</body>

</html>
